/* Keep it simple and kids friendly */

/* Simple background image*/
body {
    background-image: url(../images/Promo-Website-Website\ landscape\ content-girls.jpg);
}

/* Center container card */
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* Fade in effect for landing page */
.fade-in-container {
animation:fadeIn 4s;
-webkit-animation: fadeIn 4s;
-moz-animation: fadeIn 4s;
-o-animation: fadeIn 4s;
-ms-animation: fadeIn 4s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

/* Main card background color */
.card-welcome {
    background-color: rgb(129,178,20,.3);
}

#welcomeTitle, #welcomeInstructions {
    color: rgb(32,106,93);
}

.card-img {
    opacity: 90%;
}

#selectionCardText {
 display: grid;
 justify-content: center;
 align-items: center;
 color: rgb(32,106,93,.9);
}

.card-subtitle {
    color: rgb(32,106,93,.9);
    font-style:italic;
}

a:hover, a:visited {
    color: rgb(245,134,52)
}


/* Add a bit of shadowing and gradient on the cards - rounded edges, centered, aligned and same size */

/* Media responsive */